/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    font-family: 'Favorit', 'Arial', sans-serif;
  }

@layer base {
  @font-face {
    font-family: 'Favorit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/abcfavorit.woff2) format('woff2');
  }
}
